<settings>
  <servers>
    <server>
      <id>nexus</id> 
      <username>admin</username>
      <password>Amar@6599</password>
    </server>
  </servers>
</settings>

<distributionManagement>
    <snapshotRepository>
        <id>nexus</id>  
        <url>http://13.229.88.216:8081/repository/citibank-snapshots/</url>
    </snapshotRepository>
</distributionManagement>
